.row.clearfix.page-header.relative
  .middle.pull-right.page-header-block
    = link_to 'Commits', commits_path, class: 'btn btn-default'
  .pull-left
    .middle.commit-title
      %h3= @commit.short_message
      %p Author #{@commit.committer}

.page-content
  .file-changes-list
    = render @commit.file_changes
