.row.clearfix.page-header.relative
  .middle.pull-right
    = link_to 'Commits', commits_path, class: 'btn btn-default'
  %h3.pull-left= @commit.short_message
.page-content
  %p Author #{@commit.committer}
  .file-changes-list
    = render partial: 'file_changes/file_change', collection: @commit.file_changes
