= form_for repository, remote: true do |f|
  .row.repository-item
    = image_tag 'logo.png'
    = link_to repository.full_name, repository_path(repository)
    .pull-right
      = f.check_box :watched
