.row.clearfix.page-header.relative
  = link_to t('repositories.fetch'), repositories_path, method: :post, class: 'btn btn-primary pull-right middle'
  %h3.pull-left Repositories
.page-content
  %p= t('repositories.title')
  .repositories-list
    = render @repositories

