.row.clearfix.page-header.relative
  = link_to 'Fetch repositories from Github', repositories_path, method: :post, class: 'btn btn-primary pull-right middle'
  %h3.pull-left Repositories
.page-content
  %p Choose your repositories to watch
  .repositories-list
    = render @repositories

