'<s100>': continue
'<s101>': switching_protocols
'<s102>': processing
'<s200>': ok
'<s201>': created
'<s202>': accepted
'<s203>': non_authoritative_information
'<s204>': no_content
'<s205>': reset_content
'<s206>': partial_content
'<s207>': multi_status
'<s226>': im_used
'<s300>': multiple_choices
'<s301>': moved_permanently
'<s302>': found
'<s303>': see_other
'<s304>': not_modified
'<s305>': use_proxy
'<s307>': temporary_redirect
'<s400>': bad_request
'<s401>': unauthorized
'<s402>': payment_required
'<s403>': forbidden
'<s404>': not_found
'<s405>': method_not_allowed
'<s406>': not_acceptable
'<s407>': proxy_authentication_required
'<s408>': request_timeout
'<s409>': conflict
'<s410>': gone
'<s411>': length_required
'<s412>': precondition_failed
'<s413>': request_entity_too_large
'<s414>': request_uri_too_long
'<s415>': unsupported_media_type
'<s416>': requested_range_not_satisfiable
'<s417>': expectation_failed
'<s422>': unprocessable_entity
'<s423>': locked
'<s424>': failed_dependency
'<s426>': upgrade_required
'<s500>': internal_server_error
'<s501>': not_implemented
'<s502>': bad_gateway
'<s503>': service_unavailable
'<s504>': gateway_timeout
'<s505>': http_version_not_supported
'<s507>': insufficient_storage
'<s510>': not_extended
