scode: |
  `[[cursor]]`
bcode: |
  ```
  [[cursor]]
  ```
bjava: |
  ```java
  [[cursor]]
  ```
bjavascript: |
  ```javascript
  [[cursor]]
  ```
bruby: |
  ```ruby
  [[cursor]]
  ```
bcoffeescript: |
  ```coffee
  [[cursor]]
  ```
bobjc: |
  ```objectivec
  [[cursor]]
  ```
bshell: |
  ```sh
  [[cursor]]
  ```
bscss: |
  ```scss
  [[cursor]]
  ```
bsass: |
  ```sass
  [[cursor]]
  ```
bsql: |
  ```sql
  [[cursor]]
  ```
bcss: |
  ```css
  [[cursor]]
  ```
bpython: |
  ```python
  ```
rbdef: |
  def [[cursor]]
  end
rbclass: |
  class [[cursor]]
  end
rbdoend: |
  do [[cursor]]
  end
