.file-change
  %p.file-change-header= file_change.filename
  .row.file-change-content
    .col-xs-6
      = raw render_line_changes(file_change.line_changes['-'], 'removed-line', file_change.filename)
    .col-xs-6
      = raw render_line_changes(file_change.line_changes['+'], 'added-line', file_change.filename)