@import 'bootstrap-sprockets'
@import 'bootstrap'

html, body
  font-size: 18px

h3
  margin: 10px 0

.full-width
  width: 100% !important

.full-height
  height: 100% !important

.relative
  position: relative !important

.middle
  position: absolute
  top: 50%
  transform: translateY(-50%)

.col-xs-3
  text-align: right

.page-header
  height: 56px

  .pull-right
    right: 0
